<head>
  <title>Bookers2</title>
</head>
<body>
  <header>

  </header>

  <main>
    <div class="container">
      <div class="row">
        <h1>welcome to <strong>Bookers</strong></h1>
        <p>In <strong>Bookers</strong>,</p>
        <p>you can share and exchange  your opinions , inpressions , and emotions</p>
        <p>about various books!</p>
      </div>

      <div class="row"></div>
      <div class="row"></div>
    </div>
  </main>

  <footer>
    <div class="container mt-5">
    	<div class="row">
      	<div class="mx-auto">
    	  	<p>CopyRight Infratop.inc</p>
      	</div>
      </div>
    </div>
  </footer>

</body>